# Godot 4+ specific ignores
.godot/


# Keep FMOD addon (plugin + native libs)
!/addons/fmod/**
!/addons/fmod/**/**

# Keep FMOD banks
!/Banks/**
!/Banks/**/**

../SummerMelomFMODProject/.cache



fmod.log
fmod_editor.log